@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap"); */

:root {
  --primary-color: rgb(0, 33, 50);
  --secondary-color: rgb(28, 155, 251);
  --section-background: linear-gradient(
    45deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  /* --secondary-color: rgb(220, 24, 192); */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Chivo", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

/* ==== GENERAL SECTION ==== */

h1 {
  font-size: 2rem;
  font-weight: 900;
  font-family: "Chivo", sans-serif;
}

.section-title h2 {
  font-size: 1.5rem;
  color: var(--primary-color);
  /* font-family: "Tinos", sans-serif; */
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
}

.section-title h2:after {
  content: "";
  position: absolute;
  /* right: -60px; */
  bottom: -10px;
  transform: translateX(-100%);
  width: 80px;
  height: 3.5px;
  background: var(--secondary-color);
}

h4.card-title {
  margin-bottom: 0px;
  font-weight: bold;
  /* font-family: "Tinos", sans-serif; */
  font-weight: bold;
  font-size: 1.5rem;
}
a,
a:hover {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
}

.button {
  display: block;
  position: relative;
  padding: 10px 15px;
  background: #fff;
  border: none;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  z-index: 0;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 10px;
  transition: 0.3s all;
}

section.slider {
  /* padding-bottom: 3rem; */
  padding: 0px;
}

section {
  padding: 4rem 0;
}

.scrollTop {
  position: fixed;
  bottom: 0px;
  right: 40px;
  width: 50px;
  height: 50px;
  background: var(--secondary-color);
  color: #fff;
  border-radius: 50%;
  background-position: center;
  z-index: 100000;
  align-content: center;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  transition: 0.5s all;
}

.scrollTop i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  margin: auto;
}

.scrollTop.active {
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}
/* ==== END OF GENERIC SECTION ==== */

/* ==== HEADER ==== */

.header {
  background: rgba(0, 33, 50, 0.2);
  z-index: 777;
  position: fixed;
  width: 100%;
}
.page-header {
  background: rgb(0, 33, 50);
  position: fixed;
}

header.sticky {
  background: var(--primary-color);
}

header.sticky .nav-logo img {
  height: 65px;
  width: 55px;
}
.navbar {
  padding: 0;
}

.header .navbar-nav .nav-item {
  margin: 0px 10px;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 5px;
  font-weight: normal;
  color: #fff;
  padding: 0px 0px 5px 0px;

  transition: 0.6s;
  position: relative;
}

.navbar-light .navbar-nav a.active-nav:before {
  position: absolute;
  content: "";
  bottom: 0;
  margin-top: 15px;
  right: 0;
  height: 1px;
  background: #fff !important;
  width: 100%;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}

.nav-logo img {
  width: 80px;
  height: 90px;
  margin: 0;
  transition: 0.6s;
}

.nav-content {
  width: 90%;
  height: auto;
  vertical-align: middle;
  padding-bottom: 3px;
  margin: auto;
}
.top-text {
  margin: 10px 0px 0px 35px;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}

.header .navbar .nav-btn {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  padding: 10px 25px;
  font-size: 1rem;
  display: block;
  font-weight: normal;
}

.header .navbar .nav-btn .yt-btn {
  background: red;
  color: #fff;
  font-size: 1rem;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: auto;
  text-align: center;
  border-radius: 50%;
  z-index: 666;
  margin-left: 5px;
  position: relative;
}

.header .navbar .nav-btn .yt-btn i {
  line-height: 25px;
  margin: auto;
  font-size: 0.7rem;
  text-align: center;
  vertical-align: middle;
}
.header .navbar .nav-btn .yt-btn::before,
.header .navbar .nav-btn .yt-btn::after {
  content: "";
  position: absolute;
  border: 1px solid red;
  border-radius: 50%;
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: -5px;
  animation: animate 1.5s linear infinite;
  opacity: 0;
}
.header .navbar .nav-btn .yt-btn::after {
  animation-delay: 0.5s;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/* ==== END OF HEADER SECTION ==== */

/* ==== Slider ==== */
.slider .item {
  height: 720px;
  position: relative;
  width: 100%;
}

.slider .item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.slider .item .slider-text {
  position: absolute;
  bottom: 10%;
  z-index: 2;
  color: #fff;
}

.slider ul.slick-dots {
  bottom: 5%;
  color: #fff;
}

.slider .slick-dots li button:before {
  color: #fff;
  font-size: 15px;
}
section.slider.slick-initialized.slick-slider.slick-dotted {
  margin-bottom: 0;
}
/* ==== END OF SLIDER SECTION ==== */

/* ==== News Slider ==== */

.news {
  background: var(--section-background);
  color: #fff;
}

.news .yoho-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.news .yoho-img img {
  height: 150px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.news .yoho-img h5 {
  position: absolute;
  bottom: 30px;
  text-align: center;
}

.news .row .item > div {
  padding: 10px;
}
.news .news-card {
  width: 100%;
  background: #fff;
  padding: 12px;
}

.news-card .img-wrap {
  width: 100%;
  height: 100%;
  /* padding: 10px; */
}

.news-card .img-wrap img {
  /* height: 100%; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news .news-card .col-md-9.col-sm-9.col-9 {
  padding-left: 0;
  min-height: 0px;
}
.news-card .text-wrap p {
  color: #000000;
  padding: 10px;
  margin: 0px;
  font-weight: 400;
}
.news .button {
  color: #fff;
  border: 2px solid var(--secondary-color);
  display: inline-block;
  border-radius: 8px;
  font-weight: 500;
  white-space: nowrap;
  height: max-content;
  vertical-align: middle;
  background: var(--secondary-color);
}
.news-content .news-slider,
.news-content,
.news-content .item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.news-slider {
  margin-left: 25px;
}
.news-content .item img {
  object-fit: contain;
  height: max-content;
}

.news-slider .item a {
  color: #fff;
}

/* ==== END OF NEWS SECTION ==== */

/* ==== Programs Section ==== */

.programs .row {
  margin: 0px;
  padding: 5px;
}

.programs .col-12 {
  padding: 10px;
}
.programs article {
  padding: 5px;
}

.programs article a {
  position: relative;
  height: 300px;
  display: block;
  overflow: hidden;
}

.programs article .img-wrap {
  height: 100%;
}

.programs article a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}

.programs article a:hover img {
  transform: scale(1.1);
}

.programs .play-btn {
  background: rgba(28, 155, 251, 1);
  color: #fff;
  font-size: 1rem;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  margin: auto;
  text-align: center;
  border-radius: 50%;
  z-index: 666;
}
.programs .play-btn i {
  line-height: 40px;
  margin-left: 10px;
  margin: auto;
  text-align: center;
}

.programs .play-btn::before,
.programs .play-btn::after {
  content: "";
  position: absolute;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  animation: animate 1.5s linear infinite;
  opacity: 0;
}

.programs .play-btn::after {
  animation-delay: 0.5s;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.programs article a .text {
  position: absolute;
  padding: 10px;
  bottom: -10px;
  left: 0;
  background: rgba(255, 255, 255, 0.32);
  overflow: hidden;
  width: 100%;
  font-weight: normal;
}

.programs article a p {
  margin-bottom: 10px;
}
.programs article a .text p {
  font-size: 0.9rem;
  font-weight: 600;
}

.programs article a p i {
  margin-right: 5px;
}

.programs .btn-section {
  width: 100%;
  text-align: left;
}

.programs a.button {
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  background: var(--secondary-color);
  padding: 0.7rem 3rem;
  font-weight: 500;
  min-width: 13.4rem;
  margin-top: 1rem;
}

.programs a.button:hover {
  background-color: rgba(28, 155, 251, 0.9);
}

/* ==== Trending Section ==== */

.trending article {
  padding-top: 15px;
  padding-bottom: 15px;
}

.trending article p {
  color: #000000;
  font-weight: 400;
  margin-bottom: 0px;
}

.trending a {
  border-radius: 3px;
  display: block;
  width: 100%;
}

.trending a .card {
  border-radius: 15px;
}
.trending article .card-body {
  padding: 10px;
}
.trending .slick-prev {
  left: calc(100% - 90px);
  top: -40px;
}

.trending .slick-next {
  top: -40px;
  right: 30px;
}
.trending .slick-prev:before,
.trending .slick-next:before {
  font-family: "slick";
  font-size: 30px;
  line-height: 30px;
  opacity: 1;
  color: var(--secondary-color);
}
/* ==== Presenters Section ==== */

.presenter {
  background: var(--section-background);
  color: #fff;
}

.presenter .section-title h2 {
  color: #fff;
}

.presenter .presenter-slide {
  margin: 15px -15px;
}

.presenter .item,
.present .item {
  height: 400px;
  display: block;
  margin: 0 15px;
  position: relative;
  overflow: hidden;
}

.present .item {
  margin: auto;
}
.presenter .item img,
.present .item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  transition: 0.5s all ease-in-out;
}

.presenter .item:hover img {
  transform: scale(1.3);
}

.presenter .item .slide-content,
.present .item .slide-content {
  position: absolute;
  left: 0;
  bottom: 0px;
  background-color: rgba(28, 155, 251, 0.7);
  width: 100%;
  padding: 10px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

.presenter .item .slide-content p,
.present .item .slide-content p {
  color: #fff;
  font-weight: 600;
  vertical-align: middle;
  margin: auto 0;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.presenter .item .slide-content .social-icon i,
.present .item .slide-content .social-icon i {
  font-size: 24px;
  height: 40px;
  width: 40px;
  color: #fff;
  margin-right: 5px;
  border: 1.5px solid #fff;
  border-radius: 50%;
  padding: 0;
  line-height: 40px;
}

.presenter .slick-prev {
  left: calc(100% - 90px);
  top: -65px;
}

.presenter .slick-next {
  top: -65px;
  right: 30px;
}
.presenter .slick-prev:before,
.presenter .slick-next:before {
  font-family: "slick";
  font-size: 30px;
  line-height: 30px;
  opacity: 1;
  /* color: var(--secondary-color); */
}
.presenter .slick-dots {
  position: absolute;
  bottom: -35px;
}

.presenter .slick-dots li.slick-active button:before {
  color: rgb(28, 155, 251);
}

.slick-dots li button:before {
  margin-top: 1rem;
  font-size: 1rem;
}

/* === Download Section ==== */

section.download {
  padding: 5rem 0;
  color: #000000;
}

.download .text-area {
  margin: 1.5rem auto;
}

.download .btns {
  text-align: left;
  margin-top: 3rem;
  display: block;
}

.download .btn1 {
  display: inline-block;
  text-align: center;
  margin: auto 10px;
}

.download .btn1 i {
  font-size: 1.3rem;
  color: #fff;
  margin-right: 5px;
}

.download .btn1 .button {
  display: inline-block;
  color: #fff;
  background: var(--secondary-color);
  padding: 0.7rem 3rem;
  font-weight: 500;
  /* min-width: 13.4rem; */
}

.download .btn1 .button:hover {
  background-color: rgba(28, 155, 251, 0.8);
}

.download img {
  position: absolute;
  height: 500px;
  top: -90px;
  width: auto;
  object-fit: cover;
  transform: scale(1.1);
  transform-origin: left bottom;
}

/* === Footer === */

footer.footer {
  padding-top: 2rem;
  background: var(--primary-color);
  color: #fff;
  font-size: 1rem;
}

.footer .row {
  padding-bottom: 2rem;
}
.footer p,
.footer a {
  color: #d0d0d0;
  display: inline-block;
}

.footer p {
  margin-bottom: 0;
}

.footer h5 {
  margin-top: 2rem;
}

.footer .footer-title img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  margin: 0.5rem 0;
}

.footer .footer-item li {
  padding: 5px 0;
  margin: 0 auto;
}

.footer .footer-item li a:hover,
.footer .footer-item li a:hover p {
  color: var(--secondary-color);
}

.footer .footer-item li a i {
  font-size: 0.7rem;
  vertical-align: middle;
  width: 10px;
}

.footer ul.contact li a i {
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
  width: 20px;
}

.footer i.fa.fa-mobile {
  font-size: 1.5rem;
}

.footer .social-icon {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.footer .social-icon a {
  display: inline-block;
  margin-right: 1rem;
}

.footer .social-icon a i {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  line-height: 35px;
  border: 2px solid #d0d0d0;
  text-align: center;
  border-radius: 50%;
  color: #d0d0d0;
}
.footer .social-icon a:hover i {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
.footer .last-footer {
  padding: 5px 0 20px;
  text-align: center;
}

.footer hr {
  color: #d0d0d0;
  background: #d0d0d0;
}

/* ==== Other Pages ==== */

section.page {
  background: #d0d0d0;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 9rem 0 4rem 0;
}

section.page.pro .button {
  background: var(--secondary-color);
  color: #fff;
  display: inline-block;
}

.pro .col-md-4,
.pro .col-sm-6,
.pro .col-6 {
  padding: 10px;
  /* padding-left: 10px; */
}

.present .col-md-4,
.present .col-sm-6,
.present .col-6 {
  padding: 15px;
}

section.pro .card .time {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

/* ==== Schedule Page ==== */

.schedule .schedule-wrapper {
  padding: 5px 0px;
}

.schedule .col-md-2.col-sm-3.col-3 {
  padding: 5px;
}
.schedule .day {
  background: var(--primary-color);
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  /* margin: auto; */
  display: table;
}

.schedule .col-md-10.col-sm-9.col-9 {
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.schedule .day span {
  font-size: 1rem;
  font-weight: 700;
  display: table-cell;
  vertical-align: middle;
}

.schedule .item img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  position: relative;
}

.schedule .slick-slide {
  width: 200px;
  height: 150px;
  /* padding: 5px; */
  border: 1px solid #fff;
}

.schedule .item .text-area {
  background: #fff;
  color: #000000;
  /* object-fit: contain; */
  position: relative;
  height: 30%;
  padding: 0px 5px;
  font-size: 14px;
  font-weight: 400;
}

.schedule .item .text-area p {
  margin-bottom: 0px;
}

.schedule .item .text-area .time p {
  color: grey;
  display: inline-block;
  font-size: 0.9em;
}
.schedule .item .text-area .time a {
  color: #000000;
  /* display: inline-block; */
  float: right;
  font-size: 0.8em;
  border: 1px solid var(--secondary-color);
  background: var(--secondary-color);
  padding: 0px 5px;
  color: #fff;
  font-weight: normal;
  margin: auto;
}

/* ==== Contact Page ==== */

section .contact-wrapper {
  position: relative;
  min-height: 550px;
  display: flex;
  z-index: 666;
}

section .contact-wrapper .contact-info {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background: var(--primary-color);
  z-index: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

section .contact-wrapper .contact-info h2 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
}

section .contact-wrapper .contact-info .info {
  position: relative;
  margin: 20px 0;
}

section .contact-wrapper .contact-info .info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}

section .contact-wrapper .contact-info .info li span:nth-child(1) {
  width: 40px;
  height: 40px;
}
section .contact-wrapper .contact-info .info li span:nth-child(1) i {
  max-width: 100%;
  width: 100%;
  height: 100%;
  filter: invert(1);
  opacity: 0.5;
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
}

section .contact-wrapper .contact-info .info li span:nth-child(2) {
  color: #fff;
  font-weight: 300;
  opacity: 0.5;
  margin: auto 0px auto 10px;
}

section .contact-wrapper .contact-info .info li:hover span:nth-child(1) i,
section .contact-wrapper .contact-info .info li:hover span:nth-child(2) {
  opacity: 1;
}

section .contact-wrapper .contact-info .social {
  position: relative;
  display: flex;
}

section .contact-wrapper .contact-info .social li {
  list-style: none;
  margin-right: 15px;
}

section .contact-wrapper .contact-info .social li a {
  text-decoration: none;
}

section .contact-wrapper .contact-info .social li a i {
  opacity: 0.5;
  font-size: 1.5rem;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border: 1px solid;
  text-align: center;
  border-radius: 50%;
}

section .contact-wrapper .contact-info .social li:hover a i {
  opacity: 1;
}

section .contact-wrapper .contact-form {
  position: absolute;
  padding: 70px 50px;
  background: #fff;
  margin-left: 150px;
  padding-left: 250px;
  width: calc(100% -150px);
  height: 100%;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

section .contact-wrapper .contact-form h2 {
  color: #0f3959;
  font-size: 24px;
  font-weight: 500;
}

section .contact-wrapper .contact-form .form-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

section .contact-wrapper .contact-form .form-box .input-box {
  position: relative;
  margin: 0 0 35px 0;
}

section .contact-wrapper .contact-form .form-box .input-box.w50 {
  width: 47%;
}

section .contact-wrapper .contact-form .form-box .input-box.w100 {
  width: 100%;
}

section .contact-wrapper .contact-form .form-box .input-box input,
section .contact-wrapper .contact-form .form-box .input-box textarea {
  width: 100% !important;
  padding: 5px 0;
  font-size: 1rem;
  font-weight: 300;
  color: #333;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
}

section .contact-wrapper .contact-form .form-box .input-box textarea {
  min-height: 120px;
}
section .contact-wrapper .contact-form .form-box .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  transition: 0.3s;
  pointer-events: none;
}

section .contact-wrapper .contact-form .form-box .input-box input:focus ~ span,
section
  .contact-wrapper
  .contact-form
  .form-box
  .input-box
  textarea:focus
  ~ span,
section .contact-wrapper .contact-form .form-box .input-box input:valid ~ span,
section
  .contact-wrapper
  .contact-form
  .form-box
  .input-box
  textarea:valid
  ~ span {
  transform: translateY(-20px);
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: var(--secondary-color);
}

section
  .contact-wrapper
  .contact-form
  .form-box
  .input-box
  input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
}

section
  .contact-wrapper
  .contact-form
  .form-box
  .input-box
  input[type="submit"]:hover {
  background: var(--secondary-color);
}

/* ==== Responsive ==== */

@media only screen and (max-width: 992px) {
  /* body */
  body {
    overflow-x: hidden;
  }

  /* navbar */

  .header .nav-logo {
    order: -2;
  }
  .header button {
    position: relative;
  }
  .header .navbar .navbar-toggler {
    color: #fff;
    border-color: #fff;
    font-size: 32px;
    position: relative;
  }

  .header .navbar .nav-btn {
    position: relative;
    order: -1;
  }

  /* news section */

  .news .yoho-img img {
    height: 100px;
  }
  .news .yoho-img h5 {
    bottom: 30%;
    text-align: center;
    vertical-align: middle;
  }

  .present .col-md-4,
  .present .col-sm-6,
  .present .col-6 {
    padding: 10px;
  }

  section .contact-wrapper .contact-info {
    width: 340px;
    padding: 30px;
  }
  section .contact-wrapper .contact-form {
    padding: 70px 30px;
    margin-left: 140px;
    padding-left: 220px;
  }
  section .contact-wrapper .contact-form .form-box .input-box.w50 {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  section.download {
    padding: 3rem 0;
  }
  .download img {
    height: 400px;
    transform: scale(0.8);
    padding: 0;
    /* left: -50px; */
  }

  .download .btn1 .button {
    padding: 10px 15px;
  }

  section .contact-wrapper {
    flex-direction: column;
  }
  section .contact-wrapper .contact-info {
    position: relative;
    width: 100%;
  }

  section .contact-wrapper .contact-form {
    padding: 70px 30px 10px 30px;

    width: 100%;
    position: relative;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .news .yoho-img img {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  body {
    font-size: 14px;
  }
  section {
    padding: 2rem 0;
  }

  .section-title h2 {
    margin-bottom: 1rem;
  }

  .scrollTop {
    right: 20px;
  }
  .nav-logo img {
    width: 50px;
    height: 60px;
    margin: 0;
  }

  header.sticky .nav-logo img {
    height: 55px;
    width: 45px;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .header .navbar .nav-btn {
    color: #fff;
    padding: 5px 15px;
  }

  .header .navbar .navbar-toggler {
    font-size: 25px;
  }

  .slider .item {
    height: 430px;
  }

  .programs a.button {
    width: 100%;
    text-align: center;
  }
  .programs article a {
    height: 180px;
  }
  .news {
    padding-top: 3rem;
  }

  .news .yoho-img img {
    display: none;
  }
  .news .news-card .img-wrap img {
    height: 90px;
  }

  .trending .row {
    margin: -10px;
  }

  .trending article {
    padding: 10px;
    margin-top: 15px;
  }

  .trending .slick-prev,
  .trending .slick-next {
    top: -20px;
  }

  .presenter .item {
    height: 350px;
    width: 250px;
  }

  .present .item {
    height: 100%;
    width: 100%;
  }
  .presenter .slick-prev,
  .presenter .slick-next {
    top: -40px;
  }

  .presenter .slick-dots {
    bottom: -20px;
  }

  section.download {
    padding: 2rem 0;
  }
  .download img {
    display: none;
  }
  .download .btns {
    margin-top: 1rem;
    display: inline-block;
  }

  footer.footer {
    padding-top: 1rem;
  }

  .footer h5 {
    margin-top: 1rem;
  }

  /* pages */

  section.page {
    padding: 6rem 0 2rem 0;
  }
  .present .item {
    margin: auto;
  }
}
